* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

body {
    width: 100%;
    min-width: 320px;
    min-height: 100vh;
    background-color: rgb(15, 19, 32);
    color: whitesmoke;
    position: relative;
}

.ctn {
    width: 90%;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(29, 36, 58);
    border-bottom: 0.5px rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.25);
    padding: 20px 0;
    z-index: 20;
    & .ctn {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        & .title {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        & #search {
            width: 200px;
            height: 30px;
            border-radius: 5px;
        }
    }
}

main {
    margin-top: 88px;
    padding: 15px 0;
    min-height: calc(100vh - 58px);
    & .ctn {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        & .card {
            width: 170px;
            border-radius: 10px;
            overflow: hidden;
            transition: all 0.2s ease-in-out;
            border: 0.5px solid transparent;
            & .card_header {
                background-color: rgb(29, 36, 58);
                display: flex;
                flex-direction: column;
                padding: 5px;
                & #number_pokemon {
                    align-self: start;
                }
                & #name_pokemon {
                    align-self: center;
                    transition: all 0.1s ease-in-out;
                }
            }
            & .card_img_pokemon_ctn {
                background-image: none;
                transition: all 0.2s ease-in-out;
                height: 140px;
                display: flex;
                justify-content: center;
                align-items: end;

                & .card_img_pokemon {
                    background-color: transparent;
                    height: 140px;
                    width: auto;
                    transition: all 0.2s ease-in-out;
                }
            }
            & .card_footer {
                background-color: rgb(29, 36, 58);
                display: flex;
                justify-content: center;
                padding: 10px 0;
                gap: 15px;
                align-items: center;
    
                & .icon_type_of_pokemon {
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
                    border-radius: 50%;
                    padding: 5px;
                    width: 40px;
                    height: 40px;
                }
            }

            &:hover .card_img_pokemon_ctn {
                background-image: radial-gradient(circle, rgba(255,255,255,1) 0%, transparent 100%);
            }
            &:hover .card_img_pokemon {
                scale: 1.1;
                filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, 1));
            }
            &:hover #name_pokemon {
                scale: 1.2;
                text-shadow: 0 0 5px black;
            }
            &:hover .card_footer {
                & .icon_type_of_pokemon {
                    box-shadow: 0 0 10px rgba(255,255,255, 0.25);
                    border-radius: 50%;
                    padding: 5px;
                    width: 40px;
                    height: 40px;
                }
            }
            &:hover {
                cursor: pointer;
                box-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
                border: 0.5px solid rgba(138, 138, 138, 0.5);
            }
        }
    } 
}

footer {
    background-color: rgb(29, 36, 58);
    padding: 20px 0;
    text-align: center;
    border-top: 0.5px rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.25);
}

.card_overlay_ctn {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 30;
    & .card_overlay {
        position: absolute;
        width: 90%;
        max-width: 350px;
        height: 500px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid black;
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.527);
        border-radius: 10px;
        overflow: hidden;
        & .card_overlay_header {
            background-color: rgb(29, 36, 58);
            height: 50px;
            position: relative;
            & #overlay_number_pokemon {
                position: absolute;
                top: 16px;
                left: 10px;
            }
            & #overlay_name_pokemon {
                position: absolute;
                top: 16px;
                left: 50%;
                transform: translate(-50%);
            }
        }
        & .overlay_card_img_pokemon_ctn {
            display: flex;
            justify-content: center;
            align-items: end;
            height: 140px;
            & img {
                height: 130px;
            }
        }
        & .overlay_card_type_of_pokemon_ctn {
            background-color: rgb(29, 36, 58);
            /* height: 50px; */
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
            padding: 10px 0;
            & .icon_type_of_pokemon {
                width: 40px;
                height: 40px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
                border-radius: 50%;
                padding: 5px;
             
            }
        }
/* 
        & .card_footer {
            background-color: rgb(29, 36, 58);
            display: flex;
            justify-content: center;
            padding: 10px 0;
            gap: 15px;
            align-items: center;

            & .icon_type_of_pokemon {
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
                border-radius: 50%;
                padding: 5px;
                width: 40px;
                height: 40px;
            } */




        & .overlay_card_menu {
            background-color: rgb(29, 36, 58);
            display: flex;
            gap: 2px;

            & .overlay_menu_link {
                background-color: rgb(37, 61, 65);
                width: 33.3%;
                text-align: center;
                padding: 10px 0;
                border-bottom: 1px solid transparent;
            }
        }
        & .overlay_card_info {
            background-color: rgb(29, 36, 58);
            padding: 15px;
            height: 220px;
            & .overlay_info_main {
                display: none;
                & .description {
                    width: 40%;
                    display: inline-block;
                    margin-bottom: 8px;
                }
            }
            & .overlay_info_stats {
                display: none;
                flex-direction: column;
                gap: 15px;

                & div {
                    display: flex;
                    gap: 15px;
                    justify-content: space-between;
                    & span {
                        display: block;
                        width: 40%;
                    }
                    & .process_line {
                        width: 55%;
                        border: 3px solid black;
                        border-radius: 10px;
                        overflow: hidden;
                        & .line_to_fill {
                            width: 20%;
                            border-top-right-radius: 10px;
                            border-bottom-right-radius: 10px;
                            background-color: red;
                        }
                    }
                }
            }
            & .evo_chain {
                margin-top: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                & .evo_chain_ctn {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    & .evo_pokemon {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        & img {
                            height: 70px;
                            width: 70px;
                        }
                    }
                }
            }
        }
    }
    &:hover {
        cursor: pointer;
    }
}

#show_more {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 70px;
    right: 2%;
    font-size: 50px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.103);
    border-radius: 50%;
    width: 50px;
    height: 50px;

    &:hover {
        cursor: pointer;
        box-shadow: 0 0 5px black inset;
    }

    &:active {
        scale: 0.95;
    }
}

.bug {
    background: #92BC2C;
    /* box-shadow: 0 0 20px #92BC2C; */
}

.dark {
    background: #595761;
    /* box-shadow: 0 0 20px #595761; */
}

.dragon {
    background: #0C69C8;
    /* box-shadow: 0 0 20px #0C69C8; */
}

.electric {
    background: #F2D94E;
    /* box-shadow: 0 0 20px #F2D94E; */
}

.fire {
    background: #FBA54C;
    /* box-shadow: 0 0 20px #FBA54C; */
}

.fairy {
    background: #EE90E6;
    /* box-shadow: 0 0 20px #EE90E6; */
}

.fighting {
    background: #D3425F;
    /* box-shadow: 0 0 20px #D3425F; */
}

.flying {
    background: #A1BBEC;
    /* box-shadow: 0 0 20px #A1BBEC; */
}

.ghost {
    background: #5F6DBC;
    /* box-shadow: 0 0 20px #5F6DBC; */
}

.grass {
    background: #5FBD58;
    /* box-shadow: 0 0 20px #5FBD58; */
}

.ground {
    background: #DA7C4D;
    /* box-shadow: 0 0 20px #DA7C4D; */
}

.ice {
    background: #75D0C1;
    /* box-shadow: 0 0 20px #75D0C1; */
}

.normal {
    background: #A0A29F;
    /* box-shadow: 0 0 20px #A0A29F; */
}

.poison {
    background: #B763CF;
    /* box-shadow: 0 0 20px #B763CF; */
}

.psychic {
    background: #FA8581;
    /* box-shadow: 0 0 20px #FA8581; */
}

.rock {
    background: #C9BB8A;
    /* box-shadow: 0 0 20px #C9BB8A; */
}

.steel {
    background: #5695A3;
    /* box-shadow: 0 0 20px #5695A3; */
}

.water {
    background: #539DDF;
    /* box-shadow: 0 0 20px #539DDF; */
}

@media(max-width: 400px) {
    .card_overlay_ctn {
        & .card_overlay {
            & .overlay_card_info {
                & .evo_chain {
                    margin-top: 0px;
                    & .evo_chain_ctn {
                        flex-wrap: wrap;
                    }
                }
            }
        }
    }
}
